{% extends 'base.html' %}

{% block content %}

<h1 class="display-1">Add a feedback</h1>

<form action="/users/{{ username }}/feedback/add" method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button type="submit" class="btn btn-success">Add Feedback</button>

</form>
{% endblock %}