<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cupcakes</title>
</head>
<body>
    <h1>We have these Cupcakes!</h1>
    <ul id="list-cupcakes">
    </ul>
    <h2>Add more cupcakes!</h2>
    <form id="cupcakeform">
        <label for="flavor">Flavor</label>
        <input type="text" name="flavor" id="flavor" placeholder="Enter a flavor">
        <label for="size">Size</label>
        <input type="text" name="size" id="size" placeholder="Size">
        <label for="Rating">Rating</label>
        <input type="number" name="Rating" id="Rating" placeholder="Rating">
        <label for="img_url">Image URL</label>
        <input type="text" name="img_url" id="img_url" placeholder="Provide image link"><br>
        <button>Add</button>
    </form>
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/cupcakes.js"></script>
</body>
</html>