{% extends 'base.html' %}

{% block content %}

<h1>Create a new song!</h1>
<form action="/songs/add" method="POST">

    {{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
  
    <button type="submit" class="btn btn-success">Add Song</button>
  
  </form>

{% endblock %}